<?xml version="1.0"?>
 <robot xmlns:xacro="http://ros.org/wiki/xacro" name="brics_lbr">

!-- common stuff -->
  <include filename="$(find cob_description)/urdf/common.xacro" />
  <include filename="$(find cob_description)/urdf/materials.urdf.xacro" />
    <include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />
    <include filename="$(find cob_description)/urdf/lbr/lbr.urdf.xacro" />

<include filename="$(find brics_lbr)/calibration/calibration.urdf.xacro" />

<link name="base_link"/>

<xacro:cob_lbr name="arm" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:cob_lbr>

</robot>
