<launch>
<!-- protected region additional custom Launchfile statements in the beginning on begin -->
<!-- protected region additional custom Launchfile statements in the beginning end -->
  

	<node pkg="brics_showcase_industry_coordinators" type="coordinator_application" name="coordinator_application" output="screen">
	</node>
	
	<node pkg="brics_showcase_industry_coordinators" type="coordinator_pickup" name="coordinator_pickup" output="screen">
	</node>
	
	<node pkg="brics_showcase_industry_coordinators" type="coordinator_drop" name="coordinator_drop" output="screen">
	</node>
	
	<node pkg="brics_showcase_industry_worldmodel" type="si_worldmodel" name="si_worldmodel" output="screen">
	</node>
	
	<node pkg="brics_showcase_industry_transformer" type="pose_transformer" name="pose_transformer" output="screen">
	</node>
	
	<node pkg="brics_cognex_insight" type="cognex_insight" name="cognex_insight" output="screen">
	</node>
	
	<node pkg="cob_kuka_xmlkrc" type="cob_kuka_xmlkrc" name="cob_kuka_xmlkrc" output="screen" cwd="node">
	</node>
<!-- protected region additional custom Launchfile statements in the end of launch file on begin -->
<!-- protected region additional custom Launchfile statements in the end of launch file end -->

</launch>


